---
---

<!-- Icon Blocks -->
<div class="container mx-auto px-8 sm:px-12 lg:px-16">
  <div class="grid sm:grid-cols-2 lg:grid-cols-4 items-center gap-4">
    <!-- Icon Block -->
    <div
      class="group flex flex-col justify-center bg-backgroundContrast rounded-xl p-4 md:p-7 bg-white/[.05] border shadow-md border-white/[.05] backdrop-blur-xl transition hover:-translate-y-1"
    >
      <div
        class="flex justify-center items-center w-12 h-12 bg-zinc-900 rounded-xl"
      >
       
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-white">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 3v1.5M4.5 8.25H3m18 0h-1.5M4.5 12H3m18 0h-1.5m-15 3.75H3m18 0h-1.5M8.25 19.5V21M12 3v1.5m0 15V21m3.75-18v1.5m0 15V21m-9-1.5h10.5a2.25 2.25 0 002.25-2.25V6.75a2.25 2.25 0 00-2.25-2.25H6.75A2.25 2.25 0 004.5 6.75v10.5a2.25 2.25 0 002.25 2.25zm.75-12h9v9h-9v-9z" />
        </svg>
        
      </div>
      <div class="mt-5">
        <h3 class="text-lg font-semibold text-white">AI</h3>
        <p class="mt-1 text-gray-200">
            Learn how to leverage Artificial Intelligence.
        </p>
      </div>
    </div>
    <!-- End Icon Block -->

    <!-- Icon Block -->
    <div
      class="group flex flex-col justify-center bg-backgroundContrast rounded-xl p-4 md:p-7 bg-white/[.05] border shadow-md border-white/[.05] backdrop-blur-xl800 transition hover:-translate-y-1"
    >
      <div
        class="flex justify-center items-center w-12 h-12 bg-zinc-900 rounded-xl"
      >
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-white">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 18v-5.25m0 0a6.01 6.01 0 001.5-.189m-1.5.189a6.01 6.01 0 01-1.5-.189m3.75 7.478a12.06 12.06 0 01-4.5 0m3.75 2.383a14.406 14.406 0 01-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 10-7.517 0c.85.493 1.509 1.333 1.509 2.316V18" />
      </svg>
      
      </div>
      <div class="mt-5">
        <h3 class="text-lg font-semibold text-white">Mindset</h3>
        <p class="mt-1 text-gray-200">
          We'll help you to build strong mindset.
        </p>
      </div>
    </div>
    <!-- End Icon Block -->

    <!-- Icon Block -->
    <div
      class="group flex flex-col justify-center bg-backgroundContrast rounded-xl p-4 md:p-7 bg-white/[.05] border shadow-md border-white/[.05] backdrop-blur-xl transition hover:-translate-y-1"
    >
      <div
        class="flex justify-center items-center w-12 h-12 bg-zinc-900 rounded-xl"
      >
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-white">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 6.75V15m6-6v8.25m.503 3.498l4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 00-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0z" />
      </svg>
      
      </div>
      <div class="mt-5">
        <h3 class="text-lg font-semibold text-white">Entrepreneurship</h3>
        <p class="mt-1 text-gray-200">
          Become tech entrepreneur and lead tech.
        </p>
      </div>
    </div>
    <!-- End Icon Block -->

    <!-- Icon Block -->
    <div
      class="group flex flex-col justify-center bg-backgroundContrast bg-white/[.05] border shadow-md border-white/[.05] backdrop-blur-xl rounded-xl p-4 md:p-7 transition hover:-translate-y-1"
    >
      <div
        class="flex justify-center items-center w-12 h-12 bg-zinc-900 rounded-xl"
      >
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-white">
        <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 01-.825-.242m9.345-8.334a2.126 2.126 0 00-.476-.095 48.64 48.64 0 00-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0011.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
      </svg>
      
      </div>
      <div class="mt-5">
        <h3 class="text-lg font-semibold text-white">Networking</h3>
        <p class="mt-1 text-gray-200">
          Find like minded individuals and chat.
        </p>
      </div>
    </div>
    <!-- End Icon Block -->
  </div>
</div>
<!-- End Icon Blocks -->
