---
import Footer from "../components/Footer/Footer.astro";
import Hero from "../components/Hero/Hero.astro";
import IconSection from "../components/IconSection/IconSection.astro";
import Navbar from "../components/Navbar/Navbar.astro";
import About from "../components/About/About.astro";
import Layout from "../components/Layout/Layout.astro"
---

<Layout>
  <div class="bg-[url(/mesh-885.avif)] pb-4 bg-cover">
    <Navbar />
    <About />
  </div>
  <div class="bg-black">
    <Footer />
  </div>
</Layout>
