---
import Footer from "../components/Footer/Footer.astro";
import Hero from "../components/Hero/Hero.astro";
import IconSection from "../components/IconSection/IconSection.astro";
import Layout from "../components/Layout/Layout.astro";
import Navbar from "../components/Navbar/Navbar.astro";
import Testimonials from "../components/Testimonials/Testimonials.astro";
---

<Layout>
  <div class="bg-[url(/mesh-885.avif)] pb-4">
    <Navbar />
    <Hero />
    <IconSection />
  </div>
  <div class="bg-black">
    <Testimonials />
    <Footer />
  </div>
</Layout>
